header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("images/logo.png");
	background-size: auto;
	background-position: 20px center; 
	align-items: center;
	background-repeat: no-repeat;
}
