.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 60px;
	position: relative;
}
.places h1 {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20px;
	font-size: 30px;
	width: 100%;
}
.clearfix {
	clear: both;
}
.places article {
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  display: block;
  width: 400px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  justify-content: center;
}
.layer1 {
	width: 80%;
	height: 130px;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 10%;
	margin-top: 0;
	padding: 0;
}
.child1 {
	width: 100px;
	height: 50px;
	background: yellow;
	align-self: flex-start;
}

.child2 {
	width: 150px;
        height: 50px;
	align-self: flex-start;
	margin: 0 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.child3 {
        width: 100px;
        height: 100px;
	border: 4px solid red;
	color: red;
	align-self: flex-start;
        margin: 0 0 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 50%;
	margin-top: 15px;
	align-items: center;
}
.child2 h1 {
	font-weight: 700;
	font-size: 30px;
	text-align: center;

}
.layer2 {
	width: 80%;
	height: 130px;
	border-bottom: 2px solid black;
	display: flex;
        justify-content: space-between;
        align-items: flex-start;
	margin:0 10%;
        padding: 0;
}
.layer2 .child4 {
	width: 120px;
	height: 130px;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.layer2 .child4 .bkg_img {
	width: 100%;
	height: 60%;
	background-color: none;
	background-image: url("images/icon_group.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 10px;
}
.layer2 .child4 .guests {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	align-items: center;
	position: relative;
	margin: auto;
}
.layer2 .child5 {
	width: 120px;
        height: 130px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
	align-self: flex-start;
	margin-left: auto;
}
.layer2 .child5 .bkg_img {
	width: 100%;
        height: 60%;
        background-image: url("images/icon_bed.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10px;
}
.layer2 .child5 .bedrooms {
	font-weight: 700;
        font-size: 20px;
        text-align: center;
        align-items: center;
        position: relative;
        margin: auto;
}
.layer2 .child6 {
	width: 120px;
        height: 130px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        margin-left: auto;
}
.layer2 .child6 .bkg_img {
	width: 100%;
        height: 60%;
        background-image: url("images/icon_bath.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10px;
}
.layer2 .child6 .bathrooms {
	font-weight: 700;
        font-size: 20px;
        text-align: center;
        align-items: center;
        position: relative;
        margin: auto;
}
.layer3 {
	width: 80%;                                                       height: 150px;
        display: flex;
	flex-direction: column;
        /*justify-content: space-between;*/
        align-items: flex-start;
        margin:0 10%;
	margin-top: 20px;
        padding: 0;
}
.layer3 .owner strong {
	font-size: 20px;
	font-weight: 700;
	margin-top: 40px;
}
.layer3 .owner span {
	font-size: 20px;
}

